body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .gallery {
   
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    display: flex; /* 그리드 시스템 사용 */
    grid-template-columns: repeat(4, 1fr); /* 4개의 동일한 크기의 컬럼 */
    grid-gap: 5px; /* 그리드 사이의 간격 */
    margin: 0 1px; /* 양쪽 여백 */
  }
  
  .artwork {
    margin: 10px;
    text-align: center;
  }
  
  .artwork img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title, .artist, .year {
    margin: 5px 0;
  }
  
  @media (max-width: 600px) {
    .gallery {
      justify-content: center;
    }
  }
  