
.login-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    

  }
  
  
  
  
  .login-page .login-content {
    width: 420px;
    padding: 40px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    border-top: 5px solid rgb(192,192,168);
    float: left;
    transition: all 0.2s ease-out;
    transition-delay: 0.2s;
    border-radius: 2%;
    
  }
  .login-page .login-content.login-content-signin.ng-hide:not(.ng-hide-animate) {
    transition-delay: 0s;
    display: block!important;
    opacity: 0;
    z-index: -1;
    transform: translate(-45%, -50%);
    
  }
  .login-page .login-content.login-content-signup.ng-hide:not(.ng-hide-animate) {
    transition-delay: 0s;
    display: block!important;
    opacity: 0;
    z-index: -1;
    transform: translate(-55%, -50%);
    
  }
  
  
  .login-page .login-content h2 {
    text-align: left;
    color: rgb(192, 192, 168);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
  }
  .login-page .login-content form.wrapper-box {
    margin-top: 40px;
  }
  .login-page .login-content form.wrapper-box input {
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
    transition: all 0.1s ease-out;
  }
  .login-page .login-content form.wrapper-box input:valid {
    border-bottom: 1px solid rgb(192, 192, 168);
  }
  .login-page .login-content form.wrapper-box input:focus:invalid {
    border-bottom: 1px solid rgb(192, 192, 168);
  }
  .login-page .login-content form.wrapper-box ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .login-page .login-content form.wrapper-box :-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .login-page .login-content form.wrapper-box ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .login-page .login-content form.wrapper-box :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .login-page .login-content form.wrapper-box button {
    display: inline-block;
    margin-top: 50px;
    border: 2px solid rgb(192, 192, 168);
    background: rgb(192, 192, 168);
    border-radius: 25px;
    padding: 3px 12px 5px 12px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    transition: all 0.1s ease-out;
  }
  .login-page .login-content form.wrapper-box button:hover {
    color: rgb(192, 192, 168);
    background: #fff;
    border: 2px solid rgb(192, 192, 168);
  }
  .login-page .login-content form.wrapper-box button:active {
    box-shadow: none;
  }
  .login-page .login-content .outer-link {
    display: inline-block;
    margin-top: 50px;
    padding: 5px 0;
    display: block;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease-out;
  }
  .login-page .login-content .outer-link:hover {
    transition: all 0s ease-out;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
  .login-page .login-content.login-content-signin > div,
  .login-page .login-content.login-content-signup > div {
    overflow: hidden;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
  .login-page .login-content.login-content-signin {
    margin-left: -130px;
  }
  .login-page .login-content.login-content-signup {
    margin-left: 130px;
  }
  .login-page .login-switcher {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 660px;
    height: 400px;
    box-shadow: 0 0px 20px rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2%;
  }
  .login-page .login-switcher > div {
    width: 40%;
    margin-top: 125px;
  }
  .login-page .login-switcher > div.login-switcher-signin {
    float: left;
  }
  .login-page .login-switcher > div.login-switcher-signup{
    float: right;
  }
  .login-page .login-switcher > div h3 {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 18px;
    font-family: "Giants-Bold";
  }

  .login-page .login-switcher > div button {
    display: block;
    margin: 20px auto 0 auto;
    outline: 0;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 14px;
    padding: 4px 12px 5px 12px;
    transition: all 0.1s ease-out;
  }
  .login-page .login-switcher > div button:hover {
    border: 2px solid rgb(192, 192, 168) !important;
    color: rgba(0, 0, 0, 0.1);
  }
  .login-page .login-switcher .login-switcher-signin,
  .login-page .login-switcher .login-switcher-signup{
    transition: all 0.1s ease-out;
  }
  .login-page .login-switcher .login-switcher-signin.ng-hide:not(.ng-hide-animate),
  .login-page .login-switcher .login-switcher-signup.ng-hide:not(.ng-hide-animate) {
    display: block!important;
    opacity: 0;
    transform: translateY(10px);
  }
  
  .login-switcher-signin h3,
  .login-switcher-signin button,
  .login-switcher-signup h3,
  .login-switcher-signup button {
    color: black; /* 검정색으로 변경 */
    font-weight: bold;
    font-family: 'Pretendard-Regular';
  }
  
     .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(192, 192, 168, 0.4);
      }
  
      .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 30%;
          animation-name: modalFade;
          animation-duration: 0.5s;
      }
  
      @keyframes modalFade {
          from {
              opacity: 0;
          }
          to {
              opacity: 1;
          }
      }
  
  .find {
    display: block;
    margin: 20px auto 0 auto;
    outline: 0;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 14px;
    padding: 4px 12px 5px 12px;
    transition: all 0.1s ease-out;
  }
  
  .find:hover,
  .find:focus {
    border: 2px solid rgb(192, 192, 168) !important;
    color: rgba(0, 0, 0, 0.8);
  }
  
  

  
  
.dupliy{
  position: absolute;
  top: 25%;
  left: 75%;
 
}

